/* Tela grande */
@media (min-width: 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.navbar-brand {
	padding-top: 12px;
	float:left;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-menu-panel {
	float: left;
	
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

#wrapper ul
{
   float: left;
   padding-left: 0pt;
}

a #menu{
	float:left;
}